<h1>Cart_items</h1>

<div class="container">            
  <table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.name %></td>
        <td><%= button_to "+", cart_item_add_path(:id => cart_item), :data => { turbo_method: :post }, class:"input-group w-auto justify-content-end align-items-center"%></td>
        <td><%= cart_item.quantity %></td>
        <td><%= button_to "-", cart_item_reduce_path(:id => cart_item), :data => { turbo_method: :post }%></td>
        <td><%= link_to "Remove item", cart_item_remove_path(:id => cart_item), method: :delete, :data => { turbo_method: :delete } %></td>
      </tr>
    <% end %>
  </tbody>
</div>