<h1>Listing products</h1>

<div class="container">            
  <table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <% if product.avatar.attached? %>
          <td><%= image_tag(url_for(product.avatar), :size => "100x100") %></td>
        <% end %>
        <td><%= link_to 'Show', product_path(product), class:"btn btn-primary" %></td>
        <% if can? :manage,  @products %> 
          <td><%= link_to "Destroy", product_path(product), class:"btn btn-danger", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></td>
          <td><%= link_to 'edit', edit_product_path(product), class:"btn btn-primary" %></td>
        <%end%>
        <td><%= link_to "Add to Cart", add_to_cart_path(product.id), :data => { turbo_method: :post }, class:"btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</div>
<% if can? :manage,  @products %>
  <%= link_to "New product", new_product_path, class:"btn btn-primary" %>
<%end%> 
<%= link_to "Logout", destroy_user_session_path, class:"btn btn-info", style:"float: right;" , method: :delete, :data => { turbo_method: :delete } %>
<%= link_to "cart", carts_path, class:"btn btn-info" %>

<%if current_user.admin?%>
 <%= link_to "All users", users_path, class:"btn btn-info" %>
<%end%>