<!DOCTYPE html>
<html>
  <head>
    <title>Ecom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
      <%if current_user.present?%>
        <%= link_to "Logout", destroy_user_session_path, class:"btn btn-info", method: :delete, :data => { turbo_method: :delete } %>
      <%end%>
  </body>
</html>
